*{
    font-family: Arial;
    margin:0;
}

.headerBackground{
    top:0;
    left:0;
    position: fixed;
    z-index: 95;
    width: 100vw;
}

.hakdoggers{
    position: fixed;
    text-align: center;
    left: 0;
    width: 100vw;
    padding: 23px;
    background: linear-gradient(to left, #FF9AA2, #FFB7B2, #FFDAC1, #E2F0CB, #B5EAD7 , #C7CEEA);
}

.logo{
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
}

.logo img{
    cursor: pointer  ;
    width: 130px;
}

.navbar1{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 20px;
    right:0;
    position:fixed;
    z-index: 99;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    transform: translateX(-10px);
}

#menuList{
    overflow: hidden;
    margin-top: 10px;
    transition: 0.5s;
    left: 0;
}


nav{
    flex: 1;
    text-align: right;
}
    
    
nav ul li{
list-style: none;
display: inline-block;
margin-right: 30px;
}
    
nav ul li a{
text-decoration: none;
color: #000;
font-size: 18px;
}
    
nav ul li a:hover{
color: #ffffff;
}

@media only screen and (max-width: 700px){
    nav ul{
        width: 100vw;
        background: linear-gradient(to left, #FF9AA2, #FFB7B2, #FFDAC1, #E2F0CB, #B5EAD7 , #C7CEEA);
        position: fixed;
        top: 50px;
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }

    nav ul li a{
        color: #fff;
    }

    .menu-icon{
        margin-top: 10px;
    }
    
}

.background{
position: relative;
overflow: hidden;
}

.slideImage{
    height: 75vh;
    width: 100vw;
    object-fit: cover;
    background-position: center;
}

.overlay{
    position: absolute;
    height: 75vh;
    width: 100vw;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    top:0;
}

.secondSlide{
    margin-top: 150px;
    margin-left: 40px;
}


.secondSlideDetails{
    flex-wrap: wrap;
    display: flex;
}

.secondSlideDetailsLong{
    text-align: left;
    flex: 30%;
}

@media (max-width: 600px) {

    .secondSlideDetailsLong{
        text-align: left;
        flex: 50%;
    }

  }

.secondSlideMain{
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
    display: flex;
}

.secondSlideContacts{    
    text-align: left;
    flex: 33.3%;
}

.secondSlideLogos{
    margin-top: 25px;
    margin-bottom: 50px;
    height: 30px;
    width: 30px;
    float: left;
}



@media (max-width: 520px) {

    .secondSlideMain{
        flex-wrap: wrap;
        display: flex;
    }

    .secondSlideContacts{    
        text-align: center;
        flex: 50%
    }

    .emailFontSize{
        font-size: 12px;
    }

  }


.googleMaps{
    margin-top: 80px;
    position: relative;
    text-align: center;
}


@media (max-width: 700px) {

    .googleMaps{
        object-fit: cover;
        overflow: hidden;
    }

  }

.footerskie{
    margin-top: 150px;
}




.footerBackground{
    height: 100vh;
    object-fit: cover;
    position: relative;
    background-position: center;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    flex-wrap: wrap;
    display: flex;
}

.footerLogo{
    width: 250px;
    overflow: clip;
}

.textFooter{
position: absolute;
margin-top: 30px;
margin-left: 30px;
text-align: center;
flex: 30%;
}

.allRightsReserved{
    position: relative;
    z-index: 999;
    transform: translateY(650px);
}

@media (max-width: 1000px) {

    .footerLogo{
        width: 100%;
    }

    .footerBackground{
        height: 160vh;
        width: 100%;
    }

    .textFooter{
        margin-left: 0;
    }

    .allRightsReserved{
        transform: translateY(1000px);
    }

  }



