*{
    margin: 0;
    padding: 0;
    Font-family: arial;
}


.banner {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.slider {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideImg{
    width: 100vw;
    height: 100vh;
}

.overlay{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}

.navbar{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
}
    
.logo{
    flex-basis: 15%;
}

.logo img{
    width: 120px;
    margin-left: 20px;
    cursor: pointer;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
}

button{
    padding: 10px;
    background-color:rgb(0,0,0,0);
    border:0px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}

button:hover{
    background-color: darkgray;
}

.inklineheader{
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 100px;
    color: white;
    
}

nav{
flex: 1;
text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

nav ul li a:hover{
color: #ffffff;
}

.inklineheader{
    font-family: 'Raleway';
}