*{
    margin: 0;
    padding: 0;
    Font-family: 'Arial';
}


.banner {
    width: 100wh;
    height: 75%;
    position: relative;
    overflow: hidden;
}
.slider {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideImg{
    object-fit: cover;
    width: 100%;
    height: 75%;
}

.overlay{
    width: 100vw;
    height: 75vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    position: absolute;
    top: 0;
}

.navbar{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
}
    
.logo{
    flex-basis: 15%;
}

.logo img{
    width: 120px;
    margin-left: 20px;
    cursor: pointer;
}

.menu-icon{
    width: 30px;
    cursor: pointer;
    transform: translateX(-10px);
}

button{
    padding: 10px;
    background-color:rgb(0,0,0,0);
    border:0px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}

button:hover{
    background-color: darkgray;
}

.inklineheader{
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    margin-top: 100px;
    color: white;
    
}

nav{
flex: 1;
text-align: right;
}


nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

nav ul li a:hover{
color: #ffffff;
}

.inklineheader{
    background-image: linear-gradient(to left, #FF9AA2, #FFB7B2, #FFDAC1, #E2F0CB, #B5EAD7 , #C7CEEA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 30vw;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Kaushan Script";
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 150px;
}

.col-1 h2{
    color: orangered;
    margin-bottom: 30px;
}

.col-1 h3{
    font-family: cambria;
}

.pHomeInkline{
text-align: justify;
}

button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    border-radius: 10px;
    outline: none;
    color: #000;
    background: linear-gradient(to right, rgb(255, 15, 15), rgb(243, 175, 49), yellow, rgb(40, 206, 40), rgb(82, 82, 255), rgb(168, 46, 255), violet);
    transition: width 0.5s;
}

button img{
    width: 30px;
    display: none;
    transform: scaleX(-1);
}

button:hover img{
    display: block;
}

button:hover{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-1::after{
    content: '';
    width: 10px;
    height: 80%;
    background: linear-gradient(to left, #FF9AA2, #FFB7B2, #FFDAC1, #E2F0CB, #B5EAD7 , #C7CEEA);
    position: absolute;
    left: -20px;
    top: 8px;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
    transform: translateX(250px) ;
}

.col-2 .controller{
    width: 30%;
}

